@import '../../../../../variables.scss';

.course-card {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 1rem;
    width: 100%;
    background-color: $white;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
}
