@import '../variables.scss';

.app {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__content {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    background-color: $gray-light;

    &-section{
      width: 80%;
    }
  }
  &__footer{
    flex-shrink: 0;
  }
}

