@import '../../../../../variables.scss';

.search-bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: .5rem 0rem;
    margin-top: 1rem;

    &-column {
        display: flex; 
        align-items: center;
    }
    
    &__input {
        margin: 0 .5rem;
        height: 35%;
    }
}
