$white: #ffffff;
$black: #282c34;
$transparent-black: #000000a1;

$blue: blue;
$blue-2: #0079ad;
$blue-dark: #303240;
$blue-light: #36c2ec;
$blue-react: #61dafb;

$gray: #6c6f80;
$gray-2: #858997;
$gray-light: #e8eaf4;

$green-2: #a1c95c;
$green-light: #b4d084;


$primary: $blue-light;
$success: $green-2;
$body-bg: $white;
$secondary: $blue-dark;
$enable-cssgrid: true;
